<a href="mailto:markus@softwarearbeiter.de"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
<a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss fa-2x"></i></a>
<a href="https://github.com/spontifixus"><i class="fab fa-github fa-2x"></i></a>
<a href="https://stackoverflow.com/users/1521227/spontifixus"><i class="fab fa-stack-overflow fa-2x"></i></a>
<a href="https://www.twitter.com/spontifixus"><i class="fab fa-twitter fa-2x"></i></a>
<a href="https://www.xing.to/mrehrs"><i class="fab fa-xing fa-2x"></i></a>